{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% block titulo %}
    <title>Modelo</title>
    {% endblock %}

    <!-- Importar o Bootstrap-->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/blog-home.css' %}">
</head>

<body>
    {% block cabecalho %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">Infomania Serviços</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'index' %}">Página Inicial
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'sobre' %}">Diagrama de Classes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'sobre2' %}">Diagrama de Caso de Uso</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contato</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Ajuda</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% endblock %}

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            
            <!-- Blog Entries Column -->
            <div class="col-md-8">
                {% block menu %}

                <h1 class="my-4">Tudo sobre informática
                </h1>

                <!-- Blog Post -->
                <div class="card mb-4">
                    <img class="card-img-top" src="{% static 'img/vendas.jpeg'%}" alt="Card image cap">
                    <div class="card-body">
                        <h2 class="card-title">Sobre Nós</h2>
                        <p class="card-text">A INFOMANIA é uma empresa com 10 anos de experiência no mercado, aqui você conta 
                            com uma equipe especializada garantindo sempre o melhor atendimento aos clientes. <br>
                            Trabalhamos com assistência técnica, venda de equipamentos e desenvolvimento de Sistema Gerencial 
                            para sua empresa! Buscamos a cada dia nos tornar verdadeiros parceiros de negócios, realizando 
                            nosso trabalho sempre com agilidade, qualidade e eficiência!</p>
                        <a href="#" class="btn btn-primary">Ler mais &rarr;</a>
                    </div>
                    <div class="card-footer text-muted">
                        Postado em 11 de Junho de 2020 por
                        <a href="#">Karen Violim</a>
                    </div>
                </div>

                <!-- Blog Post -->
                <div class="card mb-4">
                    <img class="card-img-top" src="{% static 'img/assistencia.jpeg'%}" alt="Card image cap">
                    <div class="card-body">
                        <h2 class="card-title">Assistência Técnica</h2>
                        <p class="card-text">Atualmente nosso atendimento e suporte técnico abrangem empresas e domicílios
                            na cidade de Nova Londrina e toda a região! <br>                            
                            Nossa atual estrutura conta com laboratório próprio para realização de manutenções em servidores, 
                            computadores, notebooks, smartphones, impressoras, monitores e nobreaks. Contamos também com uma 
                            equipe técnica altamente qualificada sempre trabalhando com agilidade, qualidade e eficiência!</p>
                        <a href="#" class="btn btn-primary">Ler mais &rarr;</a>
                    </div>
                    <div class="card-footer text-muted">
                        Postado em 23 de Maio de 2020 por
                        <a href="#">Karen Violim</a>
                    </div>
                </div>

                <!-- Pagination -->
                <ul class="pagination justify-content-center mb-4">
                    <li class="page-item">
                        <a class="page-link" href="#">&larr; Mais velho</a>
                    </li>
                    <li class="page-item disabled">
                        <a class="page-link" href="#">Mais novo &rarr;</a>
                    </li>
                </ul>

                {% endblock %}
            </div>

            <div class="col-md-4">
                {% block lateral %}

                <!-- Search Widget -->
                <div class="card my-4">
                    <h5 class="card-header">Pesquisa</h5>
                    <div class="card-body">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Digite aqui...">
                            <span class="input-group-btn">
                                <button class="btn btn-secondary" type="button">Pesquisar</button>
                            </span>
                        </div>
                    </div>
                </div>

                <!-- Categories Widget -->
                <div class="card my-4">
                    <h5 class="card-header">Categorias</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <ul class="list-unstyled mb-0">
                                    <li>
                                        <a href="#">Vendas</a>
                                    </li>
                                    <li>
                                        <a href="#">Assistência Técnica</a>
                                    </li>
                                    <li>
                                        <a href="#">Sistema ERP</a>
                                    </li>
                                    <li>
                                        <a href="#">Sistema Fiscal</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul class="list-unstyled mb-0">
                                    <li>
                                        <a href="#">Impressoras</a>
                                    </li>
                                    <li>
                                        <a href="#">Smartphones</a>
                                    </li>
                                    <li>
                                        <a href="#">Computadores</a>
                                    </li>
                                    <li>
                                        <a href="#">Consertos em geral</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Side Widget -->
                <div class="card my-4">
                    <h5 class="card-header">Em breve...</h5>
                    <div class="card-body">
                        Querido cliente, nossa maior motivação é você, logo mais estará disponível nosso
                        site completo, garantindo agilidade e eficiência.
                        <br>Enquanto isso faça seu pedido através do celular (44)99986-1218
                    </div>
                </div>

                <div class="card my-4">
                    <h5 class="card-header">Redes Sociais</h5>
                    <div class="card-body">
                        <a href="https://www.instagram.com/infomania.nl/" target="blank">Acesse nosso Instagram</a><br>
                        <a href="https://www.facebook.com/InfomaniaWeb/" target="blank">Página do Facebook</a><br>
                        <a href="https://api.whatsapp.com/send?phone=5544999861218&text=Ol%C3%A1%2C%20tenho%20interesse%20em%20um%20dos%20serviços!"
                            target="blank">
                            Link do WhatsApp</a>
                    </div>
                </div>

            </div>

        </div>
        <!-- /.row -->

    </div>
    {% endblock %}

    {% block rodape %}
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Desenvolvido por Karen Cristina Violim 2020 &copy;</p>
        </div>
        <!-- /.container -->
    </footer>
    {% endblock %}


    <!-- A ordem deve ser esta porque ele deve ler primeiro o jQuery-->
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.min.js'%}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js'%}"></script>

</body>

</html>