{% extends 'paginas/modelo.html' %} {% load static %} {% block menu %}
<div class="col-md-12">
    <h3>Lista de Serviços Cadastrados</h3>
    <a href="{% url 'cadastrar-servico' %}" class="btn btn-primary btn-sm">Adicionar Serviço</a>

    <hr>
    <div class="table responsive">
        <table class="table table striped">
            <tr>
                <th>ID</th>
                <th>Descrição</th>
                <th>Tipo do Serviço</th>
                <th>Valor</th>
                <th>Usuário</th>
                <th>Opções</th>
            </tr>

            {% for servico in object_list %}
            <tr>
                <td>{{ servico.pk }}</td>
                <td>{{ servico.descricao }}</td>
                <td>{{ servico.tipo_servico }}</td>
                <td>{{ servico.valor }}</td>
                <td>{{ servico.usuario }}</td>
                <td>
                    <a href="{% url 'editar-servico' servico.pk %}" class="btn btn-warning btn-sm" title="Excluir">Editar</a>
                    <a href="{% url 'excluir-servico' servico.pk%}" class="btn btn-danger btn-sm" title="Editar">Excluir</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">Nenhum campo registrado.</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %} {% block lateral %} {% endblock %}